<div class="p-d-flex p-jc-center">

    <div class="demo-container p-p-4 " style="max-width:1000px;" >
        <p-card >
        <!-- <p-organizationChart [value]="data1" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
            styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.label}}</div>
                <div class="node-content">
                    <img src="assets/images/logoSh.png" width="32">
                    <div>{{node.data[name]}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
               {{node.label}}
            </ng-template>
        </p-organizationChart>
        <p-toast [style]="{marginTop: '80px'}"></p-toast> -->
        
        <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '1000px'}" [numVisible]="5" [circular]="true"
                [autoPlay]="true" [transitionInterval]="2000" > 
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="p-grid p-nogutter p-justify-center">
                        <img [src]="item.thumbnailImageSrc" style="display: block;" />
                    </div>
                </ng-template>
        </p-galleria>
        
        
        
        </p-card>
        </div>
</div>

